#login-page, #signup-page, #support-page {
  .login-logo {
    padding: 20px 0;
    min-height: 200px;
    text-align: center;
  }  
  .login-logo img {
    max-width: 150px;
  }  
  .list {
    margin-bottom: 0;
  }
}

ion-content ion-toolbar {
  --background: translucent;
}
.header-class{
  --background: var(--header);
}
.body{
  --background: var(--content);
}
.down{
  width: 100%;
  padding: 40px;
  bottom: 0;
  left: auto;
  right: auto;
  position: fixed;
}

.font{
  font-family: Georgia, serif;
  font-size: 55px;
  //font-style: italic;
  text-align: center;
}

.font2{
  font-family: Georgia, serif;
  font-size: 30px;
  font-style: italic;
  text-align: center;
  color:  	#888888
}
.fontless{
  font-family: Georgia, serif;
  font-size: 25px;
  font-style: italic;
  text-align: center;
}
.input-style{
  padding: 2px;  
}
