.home-title {
  text-align: center;
  font: 2em sans-serif;
}
.center {
  margin: auto;
  width: auto;
  text-align: center;
  padding: 5px;
}
.avatr {
  display: inline-block;
  margin: 0 auto;
  padding: 3px;
  width: 60%;
  height: 60%;
  max-width: 30vw;
}
p {
  padding: 10px 0 0 0;
  margin: 0;
  font: 1em;
  color: #707070;
}
